<article class="service">
    <div class="title">
        {{service_type}} 
        <span>- (Created on
        {{format_date created_at}} by {{member.membername}} - Budget {{budget}}
        </span>
        
    </div>
    <div class="meta">
        {{service_description}}
        
    </div>
</article>